.pizzaImg {
    width: 100%;
}

.priceTitle {
    font-style: italic;
    font-size: 17pt;
}

.ng-binding {
    /*white-space: normal;*/
}

.button-bar {
    margin-top: 10px;
}

.action-sheet-option {
    text-align: center;
}

.action-sheet-title {
    font-size: 20px;
    font-weight: bold;
}

.ingredients {
    font-size: 14pt;
}

.pizzaBlock {
    margin: 10px 0 10px;
}

.pizzaPricesList {
    font-size: 15pt;
}

.pizzaIngredientsTitle {
    font-style: italic;
    font-size: 17pt;
}

.pizzaIngredientsText {
    font-size: 14pt;
}

.loginInput::-webkit-input-placeholder {
    font-size: 14pt;
}

.loginColorWarn::-webkit-input-placeholder {
    font-size: 14pt;
    color: #c0392b;
}