/*more than one*/


/*чтобы не обрезало текст в меню*/

.ng-binding {
    /*white-space: normal;*/
}

.pizzaImg {
    width: 100%;
}

.formInput::-webkit-input-placeholder {
    /*font-size: 12pt;*/
}

.formError::-webkit-input-placeholder {
    color: #c0392b;
}

.padding .item-content {
    padding: 16px !important;
}

.platform-android .action-sheet .button {
    text-align: center;
    font-size: 17px;
    color: dimgray;
    font-weight: bold;
}

.action-sheet-title {
    text-align: center !important;
    font-size: 20px !important;
    font-weight: normal !important;
    background-color: crimson;
    color: white !important;
}

.addToCartButton {
    width: 60% !important;
    margin: 0 auto !important;
}

.addToCartButton,
.addToCartButton:enabled {
    background-color: #dc143c;
    color: #fff;
    font-family: "-apple-system", "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
    font-size: 16px;
}

.addToCartButton:active {
    background-color: #dc002c;
}

.input-label {
    /*min-width: 130px;*/
}


/*registration.html*/

.registrationContent {
    margin: 2%;
    padding: 3%;
    border: 0.5px solid darkgrey;
    border-radius: 1%;
    height: 80%;
}

.registrationFooter {
    height: 11%;
}

.registrationFooter button {
    font-size: 14pt !important;
}

.loginBtn {
    width: 60% !important;
    margin: 0 auto !important;
}


/*pizzas.html (menu)*/

.ingredients {
    font-size: 14pt;
}

.pizzasIngredientsTitle {
    font-size: 14pt;
}

.pizzasButtonBar {
    margin-top: 15px;
}


/*pizza.html*/

.pizzaBlock {
    margin: 10px 0 10px;
}

.pizzaPricesList {
    font-size: 14pt;
}

.pizzaTitle {
    font-style: italic;
    font-size: 16pt;
    font-weight: bold;
}

.pizzaIngredientsText {
    font-size: 14pt;
}

.pizzaItem {
    margin: 2%;
    padding: 3%;
    border: 0.5px solid darkgrey;
    border-radius: 1%;
    height: 79%;
}

.pizzaFooter {
    height: 12%;
}

.pizzaButton {
    font-size: 13pt !important;
}


/*create-pizza.html*/

.pizzaCreatorTitle p {
    text-align: center;
    font-size: 14pt;
    font-weight: bold;
}

.pizzaCreatorItem {
    margin: 2%;
    padding: 3%;
    border: 0.5px solid dimgray;
    border-radius: 1%;
    height: 79%;
}

.pizzaCreatorFooter {
    height: 12%;
}

.pizzaCreatorDeleteButton {
    height: 10px !important;
}

.pizzaCreatorListItem {
    font-size: 14pt;
}

.pizzaCreatorButtonBar {
    margin-bottom: 20px;
}


/*ingredients.html*/

.ingredientsContent {
    height: 77%;
}

.ingredientsTitle {
    padding-bottom: 15px;
}

.scroll {
    height: 100%;
}

.ingredientsFooter {
    height: 14%;
}

.ingredientsFooter button {
    font-size: 14pt !important;
}

.box {
    height: 90%;
    margin: 2%;
    padding: 3%;
    border: 0.5px solid dimgray;
    border-radius: 1%;
}

.ingredientsSlider {
    height: 100% !important;
}

.ingredientsIconLeft {}

.ingredientsIconRight {}


/*shopping-cart.html*/

.cartTitle p {
    text-align: center;
    font-size: 14pt;
    font-weight: bold;
}

.cartContent {
    margin: 2%;
    padding: 3%;
    border: 0.5px solid dimgray;
    border-radius: 1%;
    height: 72%;
}

.cartIngredients {
    white-space: normal !important;
}

.cartBtnBlock {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cartBtnBlock button {
    width: 25%;
}

.cartInfoBlock {
    align-self: flex-start;
    overflow-x: hidden;
    margin: 5%;
}

.count {
    text-align: right;
    font-weight: bold;
    color: #6b46e5;
}

.cartFooter {
    height: 12%;
}

.cartFooter button {
    font-size: 14pt !important;
    width: 60% !important;
    margin: 0 auto !important;
}


/*order.html*/

.orderSubHeader {
    height: 10%;
}

.orderSubHeader button {
    font-size: 14pt !important;
}

.orderContent {
    margin: 2%;
    padding: 3%;
    border: 0.5px solid darkgrey;
    border-radius: 1%;
    height: 69%;
    top: 17%;
}

.orderFooter {
    height: 11%;
}

.orderFooter button {
    font-size: 14pt !important;
}


/*room.html*/

.roomContent {
    margin: 2%;
    padding: 3%;
    border: 0.5px solid darkgrey;
    border-radius: 1%;
    height: 80%;
}

.roomFooter {
    height: 11%;
}

.roomFooter button {
    font-size: 14pt !important;
}


/*info.html*/

.info {
    text-align: center;
    margin: 5% 10%;
    font-size: 14pt;
}

.info li {
    font-weight: bold;
}

.infoBtn {
    text-align: center;
}


/*contacts.html*/

.contactsItem {
    text-align: center;
}