<ion-view view-title="Контакты">
    <ion-content class="contactsContent">
        <ion-list>
            <ion-item class="item-divider">Телефон</ion-item>
            <ion-item class="contactsItem">
                <a class="button icon-left button-calm button-outline" href="tel:+375333886050">
                    <i class="icon ion-ios-telephone"></i> +375333886050
                </a>
            </ion-item>
            <ion-item class="item-divider">E-mail</ion-item>
            <ion-item class="contactsItem">
                ivanteslenok@mail.ru
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>