<ion-modal-view>
    <ion-header-bar class="bar-positive">
        <h1 class="title">Вход</h1>
        <div class="buttons">
            <button class="button button-clear button-icon ion-android-close" ng-click="closeLogin()">Закрыть</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <form ng-submit="doLogin()">
            <div class="list">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Логин</span>
                    <input type="text" class="formInput {{usernamePlaceholderClass}}" placeholder="{{usernamePlaceholder}}" ng-model="loginInputData.username">
                </label>

                <label class="item item-input item-stacked-label">
                    <span class="input-label">Пароль</span>
                    <input type="password" class="formInput {{passwordPlaceholderClass}}" placeholder="{{passwordPlaceholder}}" ng-model="loginInputData.password">
                </label>

                <label class="item">
                    <button class="button button-block button-balanced"  ng-disabled="loginBtnDisabled" type="submit">Войти</button>
                </label>

                <label class="item">
                    <button class="button button-block button-assertive" type="button" ng-click="registration()">Регистрация</button>
                </label>
            </div>
        </form>
    </ion-content>
</ion-modal-view>