<ion-view view-title="{{pizza.name}}">
    <ion-content class="pizzaItem">
        <img class="pizzaImg" ng-src="http://pizza-server.000webhostapp.com/img/{{pizza.name}}.jpg" />

        <h1 class="title">{{pizza.name}}</h1>

        <div class="pizzaBlock">
            <span class="pizzaTitle">Состав:</span> <br/>
            <span class="pizzaIngredientsText">{{pizza.ingredients}}</span>
        </div>

        <div class="pizzaBlock">
            <span class="pizzaTitle">Цены:</span> <br/>

            <ul class="pizzaPricesList">
                <li>Маленькая - {{pizza.smSizePrice}} р.</li>
                <li>Средняя - {{pizza.mdSizePrice}} р.</li>
                <li>Большая - {{pizza.lgSizePrice}} р.</li>
            </ul>
        </div>
    </ion-content>

    <ion-footer-bar class="pizzaFooter">
        <button class="button button-block addToCartButton pizzaButton" ng-click="addPizzaToCart({{pizza.id}})">
            В корзину
        </button>
    </ion-footer-bar>
</ion-view>