<ion-view view-title="Меню">
    <ion-content class="padding">
        <ion-refresher on-refresh="refreshData()"></ion-refresher>
        <ion-list>
            <ion-item ng-repeat="pizza in pizzas">
                <img class="pizzaImg" ng-src="http://ivanteslenok.esy.es/img/{{pizza.name}}.jpg" />

                <h1 class="title">{{pizza.name}}</h1>

                <span class="pizzasIngredientsTitle">Состав:</span> <br/>

                <span class="ingredients">{{pizza.ingredients}}</span>

                <div class="button-bar pizzasButtonBar">
                    <a class="button button-calm" href="#/app/pizzas/{{pizza.id}}">Подробнее</a>
                    <button class="button addToCartButton" ng-click="addPizzaToCart({{pizza.id}})">В корзину</button>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>