<ion-modal-view>
    <ion-header-bar class="bar-positive">
        <h1 class="title">Корзина</h1>
        <div class="buttons">
            <button class="button button-clear button-icon ion-android-close" ng-click="closeShoppingCart()">Закрыть</button>
        </div>
    </ion-header-bar>

    <ion-header-bar class="bar-subheader">
        <div class="title cartTitle">
            <p>Итого: {{cartTotalPrice}} р.</p>
        </div>
    </ion-header-bar>

    <ion-content class="has-subheader cartContent">
        <div class="item" ng-repeat="item in cartItems">
            <div class="cartInfoBlock">
                <b>{{item.pizzaName}} ({{item.pizzaSize}})</b>
                <p class="cartIngredients">{{item.ingredients}}</p>
                <div class="count">Кол-во: {{item.pizzaCount}}</div>
            </div>
            <div class="cartBtnBlock">
                <button class="button button-assertive icon ion-close-circled" ng-click="deleteItem(item)">
                    <!--<i class="icon"></i>
                    Убрать-->
                </button>
                <button class="button button-royal icon ion-minus-circled cartCountControl" onclick="event.preventDefault()" ng-click="pizzaCountLess(item)"></button>
                <button class="button button-royal icon ion-plus-circled cartCountControl" ng-click="pizzaCountMore(item)"></button>
            </div>
        </div>
    </ion-content>

    <ion-footer-bar class="cartFooter">
        <button class="button button-block button-balanced" ng-click="checkout()">
            Оформить заказ
        </button>
    </ion-footer-bar>
</ion-modal-view>